@model GroupProjectMVC.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    <link rel="stylesheet" href="~/css/form.css" />
}

<form asp-action="ProcessLogin" class="form-container" method="post">
    <h2>User Login</h2>

    <div>
        <label asp-for="Username">Username</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">Login</button>

    <p style="margin-top: 12px; text-align: center;">
        You must login to access StartGame.
    </p>
</form>

