@{
    ViewData["Title"] = "Registration Successful";
}
<link rel="stylesheet" href="~/css/web.css" />

<div class="success-container">
    <h2>Registration Successful</h2>
    <p>Your account has been created successfully.</p>

    <div class="button-group">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary web-page">Go to Home Page</a>
        <a asp-controller="User" asp-action="Register" class="btn btn-secondary web-page">Register</a>
    </div>
</div>
