/*MineSweeper Board */

.board-container {
    text-align: center;
    margin-top: 40px;
    color: #cfd9ff;
}

.board-grid {
    display: grid;
    justify-content: center;
    gap: 4px;
    
}

.tile {
    width: 40px;
    height: 40px;
    background-color: #0b0f1a;
    border: 1px solid #1e3a8a;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .tile img {
        width: 100%;
        height: 100%;
    }

    /*WIN/ LOSE Pages*/
.end-game-container {
    max-width: 420px;
    margin: 100px auto;
    padding: 35px;
    background: linear-gradient(145deg, #05070f, #0c1022);
    boader-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #cfd9ff;
}
.end-game-container h2 {
    margin-bottom: 15px;
}

end-game-container p {
    margin-bottom: 25px;
    font-size: 16px;
}

.end-game-container.win h2 {
    color: #4da3ff;
}

.end-game-container.lose h2 {
    color: #ff4d4d;
}
.end-button {
    padding: 12px 20px;
    background-color: #1e90ff;
    color: white;
    font-weight: bold;
    text-decoration: none;
    boarder-radius: 8px;
    transaction: background-color 0.2s ease;
}
.end-button:hover {
    background-color: #187bcd;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
