.success-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-group {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
